@model Tangy.Models.ViewModels.OrderListViewModel

@{
    ViewData["Title"] = "OrderHistory";
}

<h2>Order History</h2>

<br />


@if (Model.Orders.Any())
{
    foreach (var item in Model.Orders)
    {
        <partial name="_IndividualOrderDetails" model="@item" />
    }
}
else
{
    <p>No past orders available.</p>
}

<br />

<div page-model="@Model.PagingInfo" page-action="OrderHistory" page-classes-enabled="true"
     page-class="btn border" page-class-normal="btn btn-defualt active" 
     page-class-selected="btn btn-primary active" class="btn-group m-1"></div>